<!doctype html>
<html lang="en">
<head>
	<meta charset='utf8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="Hustle free date countdowns"/>
	<title>Timer to XYZ</title>
	<link rel='icon' type='image/png' href='favicon.png'>
    <link rel='stylesheet' href='bundle.css'>
    <% if(typeof(analyticsId) != "undefined") { %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= analyticsId %>"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', '<%= analyticsId %>');</script>
    <% } %>
</head>
<body>
</body>
</html>